<a href="https://colab.research.google.com/github/Jurk06/data-driven-challenge/blob/master/prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import seaborn as sns

In [0]:
train=pd.read_csv('dengue_features_train.csv')

In [0]:
test=pd.read_csv('dengue_features_test.csv')

In [0]:
feat_train=pd.read_csv('dengue_labels_train.csv')

In [0]:
train.fillna(train.mean(), inplace=True)

In [0]:
test.fillna(train.mean(), inplace=True)

In [0]:
df=pd.merge(train, feat_train)

In [0]:
feature_col=['city','week_start_date', 'total_cases','weekofyear']
X=df.drop(feature_col, axis=1)

In [0]:
y=df.iloc[:,24]

In [0]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

In [0]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
k_fold = KFold(n_splits=10, shuffle=True, random_state=0)

In [14]:
clf = SVC()
scoring = 'accuracy'
score = cross_val_score(clf, X, y, cv=k_fold, n_jobs=1, scoring=scoring)
print(score)

[0.08219178 0.07534247 0.06164384 0.06849315 0.06164384 0.0890411
 0.05517241 0.04827586 0.06896552 0.08965517]

In [15]:
np.mean(score)*100

7.00425129900803

In [0]:
feature_col=['city','week_start_date', 'weekofyear']
test_data=test.drop(feature_col, axis=1).copy()

In [0]:
clf=SVC()
clf.fit(X, y)

pred=clf.predict(test_data)

In [0]:
submission = pd.DataFrame({
    "city":test["city"],
    "year":test['year'],
    "weekof":test['weekofyear'],
        "total": pred
})

submission.to_csv('submission_format.csv', index=False)

In [19]:
submission = pd.read_csv('submission_format.csv')
submission.head()

  city  total  weekof  year
0   sj      0      18  2008
1   sj      0      19  2008
2   sj      0      20  2008
3   sj      5      21  2008
4   sj      0      22  2008

In [20]:
submission.shape

(416, 4)

In [21]:
submission

    city  total  weekof  year
0     sj      0      18  2008
1     sj      0      19  2008
2     sj      0      20  2008
3     sj      5      21  2008
4     sj      0      22  2008
5     sj      0      23  2008
6     sj      0      24  2008
7     sj      0      25  2008
8     sj      0      26  2008
9     sj      0      27  2008
10    sj      0      28  2008
11    sj      0      29  2008
12    sj      0      30  2008
13    sj      0      31  2008
14    sj      0      32  2008
15    sj      0      33  2008
16    sj      0      34  2008
17    sj      0      35  2008
18    sj      0      36  2008
19    sj      0      37  2008
20    sj      0      38  2008
21    sj      0      39  2008
22    sj      0      40  2008
23    sj      0      41  2008
24    sj      0      42  2008
25    sj      0      43  2008
26    sj      0      44  2008
27    sj      0      45  2008
28    sj      0      46  2008
29    sj      0      47  2008
..   ...    ...     ...   ...
386   iq      0      48  2012
387   iq      0      49  2012
388   iq      0      50  2012
389   iq      0      51  2012
390   iq      0       1  2013
391   iq      0       2  2013
392   iq      0       3  2013
393   iq      0       4  2013
394   iq      0       5  2013
395   iq      0       6  2013
396   iq      0       7  2013
397   iq      0       8  2013
398   iq      0       9  2013
399   iq      0      10  2013
400   iq      0      11  2013
401   iq      0      12  2013
402   iq      0      13  2013
403   iq      0      14  2013
404   iq      0      15  2013
405   iq      0      16  2013
406   iq      0      17  2013
407   iq      0      18  2013
408   iq      0      19  2013
409   iq      0      20  2013
410   iq      0      21  2013
411   iq      0      22  2013
412   iq      0      23  2013
413   iq      0      24  2013
414   iq      0      25  2013
415   iq      0      26  2013

[416 rows x 4 columns]